@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$color-primary: #000;
$color-secondary: #1c1c1e;
$color-secondary-text: #a1a5b0;
$color-white: #fff;

$color-background: $color-primary;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@function set-color($bg-color)
{
    @if (lightness($bg-color) >= 50)
    {
        @return $color-primary;
    }
    @else
    {
        @return $color-white;
    }
}

