.punkList-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 2rem;

    & .punkCard-container {
        width: 17rem;
        height: 25rem;
        border-radius: 1rem;
        overflow: hidden;
        background-color: $color-secondary;
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        & .punkImg-container {
            width: 100%;
            height: 60%;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        & .punkDetail-container {
            padding: 10px;

            & .punkName {
                margin: 0 5px 5px 0;
            }

            & .punkId {
                color: $color-secondary-text;
            }

            & .price-container {
                display: flex;
                align-items: center;
                margin: 10px 0;
                transform: translateX(-5px);

                & img {
                    width: 1.5rem;
                    height: auto;
                }
            }
        }
    }
}