.subMenu-container {
    min-width: 30rem;
    min-height: 7rem;
    background-color: $color-secondary;
    position: absolute;
    transform: translateX(-50%);
    border: 1px solid $color-gray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.5s ease-in-out;

    &::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        border-bottom: 10px solid $color-secondary;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
    }

    & .subMenu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.7rem;

        & img:hover {
            cursor: pointer;
        }
    }
}